.profile
.vimperator/

# Ignore all of .vim, which is mostly compiled/downloaded scripts.
.vim/*
!.vim/thesaurus

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
.emacs.d/*
*.elc
# But don't ignore these specific locations.
!.emacs.d/lisp
!.emacs.d/matlab-emacs
!.emacs.d/snippets
!.emacs.d/init.el
