.profile

# Ignore all of .vim, which is mostly compiled/downloaded scripts.
configs/vim/*
!configs/vim/thesaurus

# Macs...
.DS_Store

# Emacs things
\#*#
# Vim things
*.swp

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts
*.elc
# old emacs configuration (before spacemacs)
configs/emacs.d/*
# But don't ignore these specific locations.
!configs/emacs.d/lisp
!configs/emacs.d/matlab-emacs
!configs/emacs.d/matlab-emacs2
!configs/emacs.d/snippets
!configs/emacs.d/init.el
!configs/emacs.d/.abbrev_defs

configs/emacs.d.spacemacs/*
