/* based on https://github.com/MrOtherGuy/firefox-csshacks */

/* Import your desired components first */

@import url(firefox-csshacks/chrome/tab_close_button_always_on_hover.css);
/*@import url(firefox-csshacks/chrome/tab_loading_progress_throbber.css);*/
/*@import url(firefox-csshacks/chrome/button_effect_scale_onclick.css);*/
/*@import url(firefox-csshacks/chrome/blank_page_background.css);*/
@import url(firefox-csshacks/chrome/autohide_menubar.css);
/*@import url(firefox-csshacks/chrome/hide_toolbox_top_bottom_borders.css);
/*@import url(firefox-csshacks/chrome/vertical_context_navigation.css);*/
/*@import url(firefox-csshacks/chrome/minimal_popup_scrollbars.css);*/
/*@import url(firefox-csshacks/chrome/button_effect_icon_glow.css);*/
/*@import url(firefox-csshacks/chrome/dark_context_menus.css);*/
/*@import url(firefox-csshacks/chrome/dark_additional_windows.css);*/
/*@import url(firefox-csshacks/chrome/dark_checkboxes_and_radios.css);*/
/*@import url(firefox-csshacks/chrome/minimal_text_fields.css);*/
/*@import url(firefox-csshacks/chrome/minimal_toolbarbuttons.css);*/
@import url(firefox-csshacks/chrome/urlbar_centered_text.css);
@import url(firefox-csshacks/chrome/autohide_main_toolbar.css);
/*@import url(firefox-csshacks/chrome/autohide_sidebar.css); */
@import url(firefox-csshacks/chrome/drag_window_from_urlbar.css); 
/*@import url(firefox-csshacks/chrome/hide_tabs_toolbar_v2.css); */

/* Apply your custom modifications after imports */

/*
:root{
  --toolbar-bgcolor: rgb(36,44,59) !important;
  --uc-menu-bkgnd: var(--toolbar-bgcolor);
  --arrowpanel-background: var(--toolbar-bgcolor) !important;
  --autocomplete-popup-background: var(--toolbar-bgcolor) !important;
  --uc-menu-disabled: rgb(90,90,90) !important;
  --lwt-toolbar-field-focus: rgb(36,44,59) !important;
}

#sidebar-box{ --sidebar-background-color: var(--toolbar-bgcolor) !important; }
window.sidebar-panel{ --lwt-sidebar-background-color: rgb(36,44,59) !important; } */

:root { /* Main Toolbar - autohide_main_toolbar.css References */
 --uc-autohide-toolbar-delay: 0.0s;
}

